{% trans_default_domain 'FOSUserBundle' %}

 <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
              {% if error %}
                <div style="color:red;text-align:left;padding-bottom:20px;")>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <br/>
              {% endif %}
              <form action="{{ path("fos_user_security_check") }}" method="POST">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />              
              <h1>Login Form</h1>
              <div>
                <input type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username" value="{{ last_username }}" required="required" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required" />
              </div>              
              <div>
                <input class="btn btn-default submit" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />                
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella</h1>
                  <p>©2016 All Rights Reserved.
                    <a href="">Privacy and Terms</a>
                  </p> 
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            {{ form_start(registration_form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
              <h1>Create Account</h1>
              <div>
                {{form_widget(registration_form.username, {"attr":{'class':'form-control','placeholder':'Username'}})}}
                  {% for error in registration_form.username.vars.errors %}
                    <div style="color:red;text-align:left;padding-bottom:20px;")>{{error.message}}</div>
                  {% endfor %}
              </div>
              <div>
                 {{form_widget(registration_form.email, {"attr":{'class':'form-control','placeholder':'Email'}})}}
                {% for error in registration_form.email.vars.errors %}
                    <div style="color:red;text-align:left;padding-bottom:20px;")>{{error.message}}</div>
                {% endfor %}
              </div>
              <div>
                 {{form_widget(registration_form.plainPassword.first, {"attr":{'class':'form-control','placeholder':'Password'}})}}
                  {% for error in registration_form.plainPassword.first.vars.errors %}
                    <div style="color:red;text-align:left;padding-bottom:20px;")>{{error.message}}</div>
                  {% endfor %}
              </div>
              <div>
              {{form_widget(registration_form.plainPassword.second, {"attr":{'class':'form-control','placeholder':'Confirm Password'}})}}
                  {% for error in registration_form.plainPassword.second.vars.errors %}
                    <div style="color:red;text-align:left;padding-bottom:20px;")>{{error.message}}</div>
                  {% endfor %}
              <input class="btn btn-default submit" type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" />         
              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-paw"></i> Gentelella</h1>
                  <p>©2016 All Rights Reserved. <a href="">Privacy and Terms</a></p>
                </div>
              </div>

             {{ form_end(registration_form)}}

          </section>
        </div>

        
      </div>
    </div>

    {# if the div variable is passed, then use javascript to jump to it #}
    {# This is used because the login and register forms are both on the same view #}
    {% if div is defined and div is not empty %}
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event)
      { 
        location.href="{{div}}"
      });
    </script>
    {% endif %}

